<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DB_PETS_CONNECT" value="Data Source=server;Initial Catalog=Pets;User Id=uid;Password={0};" />
    <add key="DB_PETS_CONNECT_PWD" value="encryptedpassword" />
    <add key="testKey" value="testValue" />
  </appSettings>
  <connectionStrings>
    <add name="LocalPetsConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=InsurancePolicyTest;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\InsurancePolicy.mdf" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>